:root {
  --focused-color: hsla(202, 74%, 50%, 1);
}

body {
  margin: 0;
  padding: 0;
}

*:last-child {
  margin-bottom: 0;
}

#ui {
  height: 100vh;
  display: grid;
  overflow: hidden;
  grid-template-rows: 1fr 80px;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    "sidebar main"
    "sidebar timeline";
}

.sidebar {
  grid-area: sidebar;
  background: #ccc;
}





/**
 * Map
 */
.main {
  grid-area: main;
  overflow: auto;
}
.map {
  position: relative;
}
.map > .unit {
  background: #ccc;
  border: 2px solid transparent;
  border-radius: 9999px;
  position: absolute;
  text-align: center;
}
  .map > .unit.focused {
    border-color: var(--focused-color);
  }
.map > .unit .bar-max {
  background: #a00;
  height: 3px;
  position: absolute; top: -7px;
}
.map > .unit .bar {
  background: #0a0;
  height: 3px;
}


/**
 * Timeline
 */
.timeline {
  grid-area: timeline;
  background: #f4f4f4;
  position: relative;
}


.timeline .line {
  background: #ccc;
  height: 4px;
  position: absolute; top: 50%;
}
.timeline .line.action {
  background: #800;
}


.timeline > .unit {
  position: absolute; left: 0; top: 50%;
  transition: all 0.1s;
}
.timeline > .unit span.marker::after {
  content: '╿';
  display: inline-block;
  position: relative; left: -3px;
}
.timeline > .unit.player span.marker::after { top: -2px; }
.timeline > .unit.enemy span.marker::after { transform: rotate(180deg); top: 5px; }



/**
 * Pending Decisions
 */
.unit-stats {
  background: #F4F4F4;
  border: 2px solid #ccc;
  margin: 0.9rem;
  padding: 1rem;
}
.unit-stats.focused {
  border-color: var(--focused-color);
}
.unit-stats h3 {
  margin: 0 0 0.25rem;
}

.unit-stats .stat {
  display: flex;
}
.unit-stats .stat label {
  text-transform: uppercase;
}
.unit-stats .stat .value {
  flex: 1;
  text-align: right;
}

.unit-stats .decision {
  border: 1px solid #ccc;
  margin-top: 1rem;
  padding: 1rem;
}

.decision-prompt ul.targets {
  // list-style: none;
  padding: 0 0 0 1.5rem;
}
.decision-prompt ul.targets li {
  cursor: pointer;
}
.decision-prompt ul.targets li:hover {
  background: white;
}
