:root {
  --focus-stats-color: hsla(202, 74%, 50%, 1);
  --focus-target-color: orange;
  --map-padding: 100px;
}

body {
  margin: 0;
  padding: 0;
}

*:last-child {
  margin-bottom: 0;
}

#ui, #session {
  height: 100vh;
  overflow: hidden;
}
#ui {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "sidebar main";
}

.sidebar {
  grid-area: sidebar;
  background: #ccc;
  overflow: auto;
}





/**
 * Map
 */
.main {
  background-image:
    linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(-45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 25px 25px;
  display: flex;
  flex-direction: column;
  grid-area: main;
  position: relative;
}

.main > .label {
  background: rgba(0,0,0,0.25);
  color: white;
  padding: 1rem;
  position: absolute; top: 0; left: 0; right: 0;
  z-index: 500;
}
.main > .label:empty {
  display: none;
}

.main > .scroller {
  overflow: auto;
  flex: 1;
}

.map .scroll-padding-hack {
  position: absolute; left: 100%; width: var(--map-padding); height: 1px;
}
.map {
  background: #aaa;
  margin: var(--map-padding);
  position: relative;
  user-select: none
}
.map > .unit {
  background: #ccc;
  border: 2px solid transparent;
  border-radius: 9999px;
  position: absolute;
  text-align: center;
  transition: transform 0.25s cubic-bezier(0.09, 0.93, 0.71, 1.1);
}
  .map > .unit.focus--stats {
    border-color: var(--focus-stats-color);
  }
  .map > .unit.focus--target {
    border-color: var(--focus-target-color);
  }
.map > .unit .bar-max {
  background: #a00;
  height: 3px;
  position: absolute; top: -7px;
}
.map > .unit .bar {
  background: #0a0;
  height: 3px;
}


/**
 * Timeline
 */
.timeline {
  background: #f4f4f4;
  position: relative;
  height: 80px;
}


.timeline .line {
  background: #ccc;
  height: 4px;
  position: absolute; top: 50%;
}
.timeline .line.action {
  background: #800;
}


.timeline > .unit {
  position: absolute; left: 0; top: 50%;
  transition: all 0.1s;
}
.timeline > .unit span.marker::after {
  content: '╿';
  display: inline-block;
  position: relative; left: -3px;
}
.timeline > .unit.player span.marker::after { top: -2px; }
.timeline > .unit.enemy span.marker::after { transform: rotate(180deg); top: 5px; }



/**
 * Pending Decisions
 */
.unit-stats {
  background: #F4F4F4;
  border: 2px solid #ccc;
  margin: 0.9rem;
  padding: 1rem;
}
.unit-stats.focus--stats {
  border-color: var(--focus-stats-color);
}
.unit-stats.focus--target {
  border-color: var(--focus-target-color);
}
.unit-stats h3 {
  margin: 0 0 0.25rem;
}

.unit-stats .stat {
  display: flex;
}
.unit-stats .stat label {
  text-transform: uppercase;
}
.unit-stats .stat .value {
  flex: 1;
  text-align: right;
}

.unit-stats .decision {
  border: 1px solid #ccc;
  margin-top: 1rem;
  padding: 1rem;
}

.decision-prompt .options {
  // list-style: none;
  padding: 0 0 0 1.5rem;
}
.decision-prompt .options li {
  border: 2px solid transparent;
  cursor: pointer;
}
.decision-prompt .options li.active,
.decision-prompt .options li.active:hover {
  background-color: hsla(202, 84%, 90%, 1);
}
.decision-prompt .options li.focus--target {
  border-color: var(--focus-target-color);
}
.decision-prompt .options li:hover {
  background: white;
}

.decision-prompt .options + .options {
  border-top: 1px solid #ccc;
  padding-top: 0.75rem;
}



/**
 * Session Panel
 */
.session-panel {
  max-width: 30rem;
  margin: 0 auto;
}

/**
 * Utility classes
 */
.d-flex { display: flex; }
.flex { flex: 1; }
.flex-center { justify-content: center; align-items: center; }
.flex-vcenter { align-items: center; }
.flex-col { flex-direction: column; }

.text-center { text-align: center; }
